In [1]:
# if 문은 점프문에 유래한다.
# 들여쓰기 여부 확인하기
# 탭키는 스페이스바 4개와 같은 값을 가진다. 단, 절대적이지 않다.
# if / elif / else --> if & elif 조건을 가짐, else는 가지지 않음 / elif & else 단독 사용 X
# 콜론(:) 사용과 더불어 들여쓰기 진행

In [2]:
1 in [1, 2, 3]

True

In [3]:
4 in [1, 2, 3]

False

In [4]:
4 not in [1, 2, 3]

True

In [5]:
a = 1
if a == 1:                # pass를 사용해 설정값을 나중에 지정해줄 수 있음 / 오류값x
    pass

In [6]:
# 한 줄로 작성하기
a =1
if a == 1: print("a는 1")

a는 1

In [7]:
a =1
if a == 1: print("a는 1")
print("good bye")            # 들여쓰기를 안하면 if와 별개의 커맨더가 됨

a는 1
good bye

In [8]:
# while문 / 점프를 위로 올리면 반복문이 됨
# 조건은 while 옆에

In [9]:
treeHit = 1  # 초기 값을 줘야함
while treeHit < 10:
    print("나무를 " + str(treeHit) + "번 찍었습니다.")
    treeHit = treeHit + 1

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.

In [10]:
treeHit = 1  # 초기 값을 줘야함
while treeHit < 10:
    print("나무를 " + str(treeHit) + "번 찍었습니다.")
    if treeHit == 9 : print("나무 넘어갑니다")
    treeHit += 1 # treeHit = treeHit + 1

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무 넘어갑니다

In [11]:
# input 입력할 수 있는 입력 안내 메시지가 출력
a = input("정수를 입력하세요")
print(a)

정수를 입력하세요45
45

In [12]:
a = input("정수를 입력하세요")
a = int(a) + 1                  # int로 바꿔준 다음에 진행하면 오류메시지 X
print(a)

정수를 입력하세요4
5

In [13]:
list_a = []
count = 0
while count < 4:
    recieved = input("온도를 입력하세요")
    recieved = int(recieved)            
    list_a.append(recieved) # 리스트 원소 추가 함수 append P80
    count += 1
print(list_a)

온도를 입력하세요55
온도를 입력하세요554
온도를 입력하세요4
온도를 입력하세요4
[55, 554, 4, 4]

In [14]:
# 계속 반복되는 경우가 필요할때
list_a = []
print("온도를 입력하세요 단, 입력을 멈추려면 -500을 입력하세요")
while True :                               # 조건이 모호할때 true 값을 넣어서 돌리면 편리함 / pass는 pass 이하 내용을 모두 무시
    recieved = input("온도를 입력하세요")
    if recieved == "-500" : break # 밑에 int 값을 줘서 단순히 숫자가 아닌 문자형으로 표시해야함.
    recieved = int(recieved)            
    list_a.append(recieved) # 리스트 원소 추가 함수 append P80
    count += 1
print(list_a)

온도를 입력하세요 단, 입력을 멈추려면 -500을 입력하세요
온도를 입력하세요-500
[]

In [15]:
# 계속 반복되는 경우에 일정 조건 주기
list_a = []
print("온도를 입력하세요 단, 입력을 멈추려면 -500을 입력하세요")
while True :                               # 조건이 모호할때 true 값을 넣어서 돌리면 편리함 / pass는 pass 이하 내용을 모두 무시
    recieved = input("온도를 입력하세요")
    recieved = int(recieved)
    if recieved == -500 : break
    if recieved > 50 or recieved < -40 : continue    
    list_a.append(recieved) # 리스트 원소 추가 함수 append P80
print(list_a)

온도를 입력하세요 단, 입력을 멈추려면 -500을 입력하세요
온도를 입력하세요-500
[]

In [16]:
# for문 range(범위만 나옴)
a = range(10)
print(a)

range(0, 10)

In [17]:
for i in range(10):
    print(i, end=" ") # 기본으로 줄바꿈이 설정되어있어 end를 써서 가지런히 나열함

0 1 2 3 4 5 6 7 8 9

In [18]:
for i in range(5, 10): 
    print(i, end=" ") # 지정하고 싶은 숫자 지정하기

5 6 7 8 9

In [19]:
for i in range(5, 10, 3): 
    print(i, end=" ") # 간격 주기

5 8

In [20]:
for i in range(10, 0, -1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

In [21]:
for i in [5, 8]: 
    print(i, end=" ")

5 8

In [22]:
# 풀어서 표현
a = [1, 2, 3, 4]
res = []
for num in a: 
    res.append(num*3)
print(res, end=" ")

[3, 6, 9, 12]

In [23]:
# 압축해서 표현
a = [1, 2, 3, 4]
res = [num*3 for num in a]
print(res, end=" ")

[3, 6, 9, 12]

In [24]:
# 응용 풀어서 중요 매우매우
a = [1, 2, 3, 4]
res = []
for num in a:
    if num % 2 == 0:
        res.append(num*3)
print(res, end=" ")

[6, 12]

In [25]:
# 응용 압축 중요 매우매우
a = [1, 2, 3, 4]
res = [num*3 for num in a if num % 2 == 0] # 짝수일때만 이라는 조건을 하나 추가함.
print(res, end=" ")

[6, 12]

In [26]:
# 연습문제3 P147
i = 0                          # i는 줄의 개수이자 별의 갯수이다.

while True:
    i += 1
    if i>5:break               # 들여쓰기가 동등한 관계이므로 해당 코드처럼 배치
    print("*"*i)

*
**
***
****
*****

In [27]:
i = 0                          # 반복문을 하나 더 사용해서 바꿔보기

while True:
    i += 1
    if i>5:break               
    for j in range(i) :
        print ("*", end="")
    print("")

*
**
***
****
*****

In [28]:
# 연습문제5 P148
a = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0          
for score in a:
    total += score     # a의 점수 하나 하나
average = total/len(a) 
print(average)

79.0

In [29]:
# 내 답안 1
for i in range(60, -1, -1):
    if i == 0:
        print("\n발사")  
    print(i, end=" ")

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1
발사
0

In [30]:
# 선생님 답안 1
for i in range(60, -1, -1):
    print(i, end=" ")
print()
print("발사")

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0
발사

In [31]:
# 내 답안 2
i=61
while True:
    i -= 1
    if i == -1:break
    print(i, end=" ")
    if i == 0:
        print("발사")

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 발사

In [32]:
# 선생님 답안 2
num = 60
while num >=0:
    print(num, end=" ")
    num -=1
print("")
print("발사")

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0
발사

In [33]:
A=[1,2,3,4,5,6,7,8,9]
B=[1,2,3,4,5,6,7,8,9]
for row in A:
    for col in B:
        print(row*col, end=" ")
    print("")

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [34]:
for row in range(1,10):
    for col in range(1,10):
        print(row*col, end= " ")
    print("")

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [35]:
row = 1
while row <=9:
    col = 1
    while col <=9:
        print(row*col, end= " ")
        col +=1
    print("")
    row +=1

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [36]:
for row in range(1,8):            # 행은 1~8행까지
    for col in range(1,8):        # 열은 1~8열까지
        if row >= col:            # 만약 행이 열보다 같거나 크면  숫자가 나올거야
            print(col, end=" ")   
        else :                    # 근데 행이 열보다 작으면 별이 나올거야
            print("*", end=" ")
    print(" ")

1 * * * * * *
1 2 * * * * *
1 2 3 * * * *
1 2 3 4 * * *
1 2 3 4 5 * *
1 2 3 4 5 6 *
1 2 3 4 5 6 7

In [37]:
# 꼼수
for row in range(1,11):            # 첫 번째줄은 11개로 시작할꺼야
    for col in range(1,20):
        if row == col:           
            print("**********", end=" ")
        else :
            print(" ", end=" ")
    print(" ")

**********
  **********
    **********
      **********
        **********
          **********
            **********
              **********
                **********
                  **********

In [38]:
# 형우 코드 참고
for row in range(1,11):         # 첫 번째줄은 11개로 시작할꺼야
    for col in range(1,21):
        if row <= col and col - row <=10 :           # 9행 20열 11 / 8행 20열 19열 12 13/ 7행 20열 19열 18열 13 12 11/ 규칙 발생
            print("*", end="")
        else :
            print(" ", end="")
    print(" ")

***********
 ***********
  ***********
   ***********
    ***********
     ***********
      ***********
       ***********
        ***********
         ***********

In [39]:
# 선생님 답안
for row in range(10):
    # 빈칸 출력
    for space in range(row):
        print(" ", end="")
    # 별 출력
    for star in range(10):
        print("*", end="")
    print("")

**********
 **********
  **********
   **********
    **********
     **********
      **********
       **********
        **********
         **********

In [40]:
# 1 ~100까지의 숫자중에서 피타고라스의 정리를 만족하는 갯수 구하기
count = 0
for a in range(1,101):
    for b in range(1, 101):
        for c in range(1, 101):
            if a*a + b*b == c*c :
                count+=1
print(count)                                # 고등학교 확률 통계 공부하기

104

In [41]:
# 100의 자리 10의 자리 1의 자리 뽑아내기
num = 123
d100 = num // 100
d10 = (num % 100)//10 # 23/10 ==> 2.3  # 23//10 ==>2
d1 = num % 10
print(d100, d10, d1)

1 2 3

In [42]:
# 1 ~ 999에서 각 자리에서 서로 다른 자연수를 가지는 녀석들 구하기
count_up = 0
for num in range(1000):
    d100 = num // 100
    d10 = (num % 100)//10
    d1 = num % 10
    
    if d100 != d10 and d10 != d1 and d100 != d1: # d100 != d10 != d1 오동작 / 기본적으로 양쪽을 비교하는 연산자기 때문임
        count_up+=1
        
print(count_up)

720

In [43]:
count_up = 0
for x in range(10):
    for y in range(10):
        for z in range(10):
            if x != y and y != z and x != z: # x != y != z 오동작 / 기본적으로 양쪽을 비교하는 연산자기 때문임
                count_up +=1

print(count_up)

720

In [44]:
# 3**2016의 마지막 자리 숫자는 1인데 이것을 프로그램으로 돌리면?

a = 1
for i in range(2016):
    a*=3
    if i == 2015:
        num = a%10
print(num)

1

In [50]:
# 어떤 프로그램은 임의의 자연수에 대해서 그 결과가 1이 나올 때 까지, 아래의 작업을 반복한다.
# 자연수가 짝수이면 2로 나눈다. 홀수이면 3을 곱하고 1을 더한후, 2로 나눈다.

num = int(input("수 입력:"))
count = 0
while True:
    if num % 2 == 0:
        num = int(num/2)
    else:
        num = int((3* num +1)/2)
    count+=1
    if num == 1: break
    print(num, end ="/")

print (count)

수 입력:682
341/512/256/128/64/32/16/8/4/2/11