In [1]:
import pymysql as m
# 1. 아나콘다 cmd 관리자 권한으로 실행
# 2. conda install pymysql
# 3. 주피터 노트북 실행 
# 4. SQL SHOW databases; 확인 가능

In [2]:
con = m.connect(host='localhost', user='root', password='7751', charset='utf8')
cur = con.cursor() # 커서...

In [ ]:
# 데이터 베이스 생성
q = 'CREATE DATABASE DB_FROM_PYTHON;'
cur.execute(q)                       # 커멘드 실행
con.close()
# +--------------------+
# | Database           |
# +--------------------+
# | ch5_clothing       |
# | ch8_titanic        |
# | classicmodels      |
# | db_from_python     |
# | information_schema |
# | mysql              |
# | mytest_1           |
# | performance_schema |
# | public_data        |
# | sys                |
# +--------------------+

In [ ]:
# 테이블 만들기
con = m.connect(host='localhost', user='root', password='7751', db ='DB_FROM_PYTHON', charset='utf8')
cur = con.cursor()
q = """CREATE TABLE table_from_pythom(
id INTEGER PRIMARY KEY,
name VARCHAR(100),
email VARCHAR(100),
division VARCHAR(100)
) 
"""

cur.execute(q)
con.commit()
con.close()

# use db_from_python;
# show tables;
# +--------------------------+
# | Tables_in_db_from_python |
# +--------------------------+
# | table_from_pythom        |
# +--------------------------+

# desc table_from_pythom;
# +----------+--------------+------+-----+---------+-------+
# | Field    | Type         | Null | Key | Default | Extra |
# +----------+--------------+------+-----+---------+-------+
# | id       | int          | NO   | PRI | NULL    |       |
# | name     | varchar(100) | YES  |     | NULL    |       |
# | email    | varchar(100) | YES  |     | NULL    |       |
# | division | varchar(100) | YES  |     | NULL    |       |
# +----------+--------------+------+-----+---------+-------+

In [12]:
# 데이터 삽입 하기
con = m.connect(host='localhost', user='root', password='7751', db ='DB_FROM_PYTHON', charset='utf8')
cur = con.cursor()
q = "INSERT INTO table_from_pythom(id, name, division) VALUE(%s, %s, %s)" # 전체가 str 이기때문에 id Value 또한 str로 맞춘다.
cur.execute(q, (1, 'Kim', 'DEV'))
cur.execute(q, (2, 'Lee', 'SAL'))
cur.execute(q, (3, 'Park', 'ADM'))
con.commit()
con.close()

# SELECT * FROM table_from_pythom;
# +----+------+-------+----------+
# | id | name | email | division |
# +----+------+-------+----------+
# |  1 | Kim  | NULL  | DEV      |
# |  2 | Lee  | NULL  | SAL      |
# |  3 | Park | NULL  | ADM      |
# +----+------+-------+----------+

In [13]:
# SQL데이터 가져오기
con = m.connect(host='localhost', user='root', password='7751', db ='DB_FROM_PYTHON', charset='utf8')
cur = con.cursor()
q = "SELECT * FROM table_from_pythom"
cur.execute(q)                        # 명령은 했으나 불러올 곳이 없음.
res = cur.fetchall()                  # .fetchall을 사용해 명령 데이터를 받아옴
for data in res:                      # 반복문을 통해 출력
    print(data)
con.close()

(1, 'Kim', None, 'DEV')
(2, 'Lee', None, 'SAL')
(3, 'Park', None, 'ADM')

In [14]:
# SQL데이터 가져오기2
import pandas as pd
con = m.connect(host='localhost', user='root', password='7751', db ='DB_FROM_PYTHON', charset='utf8')
cur = con.cursor()
q = "SELECT * FROM table_from_pythom"
cur.execute(q)                        # 명령은 했으나 불러올 곳이 없음.
res = cur.fetchall()                  # .fetchall을 사용해 명령 데이터를 받아옴
df1 = pd.DataFrame(res)
con.close()
df1

   0     1     2    3
0  1   Kim  None  DEV
1  2   Lee  None  SAL
2  3  Park  None  ADM

In [16]:
# dataframe col 지정하기
col = ['id', 'name', 'email', 'division']
df1 = pd.DataFrame(res, columns =col)
df1
# df1.to_csv("my_db2.csv.csv") 파일 저장

   id  name email division
0   1   Kim  None      DEV
1   2   Lee  None      SAL
2   3  Park  None      ADM

In [23]:
# table에 누락 정보 넣기 "email"
con = m.connect(host='localhost', user='root', password='7751', db ='DB_FROM_PYTHON', charset='utf8')
cur = con.cursor()
q = "UPDATE table_from_pythom SET email =%s WHERE id =%s;"
cur.execute(q, ("developer_kim@good.com", 1))
cur.execute(q, ("sales_pro_lee@good.com", 2))
cur.execute(q, ("admin_park@good.com", 3))
con.commit()                
con.close()