호텔 예약 취소 SVC 모델

In [1]:
# 데이터 불러오기

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [3]:
hotel_df = pd.read_csv('C:/workspace/R/2.Python/PROJECT/Project_Vol_2/hotel_bookings_cancel.csv')

In [4]:
hotel_df

,is_canceled,lead_time,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,0,342,July,1,0,0,2,0.0,0,BB,...,C,C,3,No Deposit,NaN,Transient,0.0,0,0,Check-Out
1,0,737,July,1,0,0,2,0.0,0,BB,...,C,C,4,No Deposit,NaN,Transient,0.0,0,0,Check-Out
2,0,7,July,1,0,1,1,0.0,0,BB,...,A,C,0,No Deposit,NaN,Transient,75.0,0,0,Check-Out
3,0,13,July,1,0,1,1,0.0,0,BB,...,A,A,0,No Deposit,304.0,Transient,75.0,0,0,Check-Out
4,0,14,July,1,0,2,2,0.0,0,BB,...,A,A,0,No Deposit,240.0,Transient,98.0,0,1,Check-Out
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,1,464,October,28,0,2,2,0.0,0,BB,...,A,A,0,Non Refund,1.0,Transient,65.0,0,0,Canceled
119386,1,464,October,28,0,2,2,0.0,0,BB,...,A,A,0,Non Refund,1.0,Transient,65.0,0,0,Canceled
119387,1,464,October,28,0,2,2,0.0,0,BB,...,A,A,0,Non Refund,1.0,Transient,65.0,0,0,Canceled
119388,1,464,October,28,0,2,2,0.0,0,BB,...,A,A,2,Non Refund,1.0,Transient,65.0,0,0,Canceled
119389,1,464,October,28,0,2,2,0.0,0,BB,...,A,A,2,Non Refund,1.0,Transient,65.0,0,0,Canceled

In [5]:
# 데이터 전처리 children, agent

hotel_df['children'] = hotel_df['children'].fillna(0)
hotel_df['agent'] = hotel_df['agent'].fillna(-1)

In [6]:
hotel_df = hotel_df.drop(['reservation_status'], axis =1)

In [7]:
hotel_df = pd.get_dummies(hotel_df)

In [8]:
hotel_df

,is_canceled,lead_time,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,...,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,0,342,1,0,0,2,0.0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,0,737,1,0,0,2,0.0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,7,1,0,1,1,0.0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
3,0,13,1,0,1,1,0.0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,14,1,0,2,2,0.0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,1,464,28,0,2,2,0.0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
119386,1,464,28,0,2,2,0.0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
119387,1,464,28,0,2,2,0.0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
119388,1,464,28,0,2,2,0.0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
119389,1,464,28,0,2,2,0.0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [9]:
X = hotel_df.drop(['is_canceled'], axis =1)
X

,lead_time,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,...,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,342,1,0,0,2,0.0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,737,1,0,0,2,0.0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,7,1,0,1,1,0.0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
3,13,1,0,1,1,0.0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,14,1,0,2,2,0.0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,464,28,0,2,2,0.0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
119386,464,28,0,2,2,0.0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
119387,464,28,0,2,2,0.0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
119388,464,28,0,2,2,0.0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
119389,464,28,0,2,2,0.0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
y = hotel_df['is_canceled']
y

0         0
1         0
2         0
3         0
4         0
         ..
119385    1
119386    1
119387    1
119388    1
119389    1
Name: is_canceled, Length: 119390, dtype: int64

In [11]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [15]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [16]:
model = SVC()

In [17]:
model.fit(X_train, y_train)

SVC()

In [18]:
print("훈련 데이터 점수 : {}".format(model.score(X_train, y_train)))
print("평가 데이터 점수 : {}".format(model.score(X_test, y_test)))

훈련 데이터 점수 : 0.8339999162408912
평가 데이터 점수 : 0.8283357065080827