In [1]:
a = "Life is ~~~"

In [2]:
a1 = a[0:4]          # 문자 슬라이싱 0~4 --> 4번째에서 짤라줘 / 공백 포함 / 자리의 시작은 0

In [3]:
a2 = a[0:5]

In [4]:
if a1 == a2:
    print("같다")
else:
    print("다르다") # 조건문을 활용한 비교로는 다르다고 출력

다르다

In [5]:
print(a1, len(a1))
print(a2, len(a2))          # 육안으로 보기엔 차이가 없음 // strip(양쪽) & lstrip(왼쪽) & rstrip(오른쪽) 공백 제거 함수

Life 4
Life  5

In [6]:
words1 = "딸기, 바나나, 수박"

In [7]:
bananaFromwords1 = words1[4:7]
print(bananaFromwords1)

바나나

In [8]:

wordToFind = "바나나"
indexOfBanana = words1.find(wordToFind)       # 위치알려주기 함수 Find
bananaFromwords1 = words1[indexOfBanana:indexOfBanana + len(wordToFind)]  # 내 코드 아님 이런건 어떻게 생각해?
print(bananaFromwords1)

바나나

In [9]:
# wmFromwords1 = words1[9:11]    맨 마지막을 출력하는 두가지 방법
wmFromwords1 = words1[9:]  
print(wmFromwords1)

수박

In [10]:
sbwmFromwords1 = words1[:2]
print(sbwmFromwords1)

딸기

In [11]:
# 오타 바꾸기
a = "Pithon"

In [12]:
a[1]

'i'

In [13]:
# a[1] = "y" 오류가 떠버려

In [14]:
a2 = a[:1] + "y" + a[2:] # 앞부분에 1 전이 정상이야 / 뒷부분에 2부터 정상이야

In [15]:
a = a2
print(a2)

Python

In [16]:
# 정렬
name1 = "김기영" ; major1 = "IT" ;howManyPhone1 =2
name2 = "김개굴" ; major2 = "BT" ;howManyPhone2 =3
print("Name" + "\t"+ "Major" + "\t" + "HowManyPhone")
print(name1 + "\t"+ major1 + "\t" + str(howManyPhone1))
print(name2 + "\t"+ major2 + "\t" + str(howManyPhone2)) # 숫자는 크기 비교 용이를 위해 오른쪽 정렬을 함 / 하지만 현재는 되어있지 않음.

Name	Major	HowManyPhone
김기영	IT	2
김개굴	BT	3

In [17]:
print("%s" "120")
print("%s" % "120") # %가 중간에 들어가므로써 다르게 출력됨을 알 수 있다.
print("%10s" % "120") # 총 10칸을 잡아놓고 채우겠다
print("%10s" % "12000000")

%s120
120
       120
  12000000

In [18]:
# 위의 예시 적용해보기
name1 = "김기영" ; major1 = "IT" ;howManyPhone1 =2
name2 = "김개굴" ; major2 = "BT" ;howManyPhone2 =3
print("Name" + "\t"+ "Major" + "\t" + "HowManyPhone")
print(name1 + "\t"+ major1 + "\t" + "%10s" % str(howManyPhone1))
print(name2 + "\t"+ major2 + "\t" + "%10s" % str(howManyPhone2))

Name	Major	HowManyPhone
김기영	IT	         2
김개굴	BT	         3

In [19]:
print("%-10s" % "120") # "-" 사용시 왼쪽에서 정렬
print("%-10s" % "120000")

120
120000

In [20]:
print("%0.2f" % 120) # 소수점 뒤를 몇자리로 할래?
print("%0.2f" % 120000)

120.00
120000.00

In [21]:
print("%10.2f" % 120) #  10칸을 놓고 소수점 뒤를 몇자리로 할래?
print("%10.2f" % 120000)

    120.00
 120000.00

In [22]:
# 포매팅
"~~~{0}~~~{1}~~~~~~"

'~~~{0}~~~{1}~~~~~~'

In [23]:
"~~~{0}~~~{1}~~~~~~".format("기영", 2)

'~~~기영~~~2~~~~~~'

In [24]:
"~~~{1}~~~{0}~~~~~~".format("기영", 2)

'~~~2~~~기영~~~~~~'

In [25]:
"~~~{name}~~~~~~~~{HowMany}~~~~{HowMany}~~~".format(name = "기영", HowMany =2)

'~~~기영~~~~~~~~2~~~~2~~~'

In [26]:
"{0}".format("120")

'120'

In [27]:
"{0:>10}".format("120") # 우로 정렬

'       120'

In [28]:
"{0:^10}".format("120") # 가운데 정렬

'   120    '

In [29]:
"{0:_>10}".format("120")

'_______120'

In [30]:
name = "기영"
age = 120
"나의 이름은 {0}입니다. 나이는 {1}살 까지 살고 싶어요".format(name, age)

'나의 이름은 기영입니다. 나이는 120살 까지 살고 싶어요'

In [31]:
f"나의 이름은 {name}입니다. 나이는 {age}살 까지 살고 싶어요".format(name, age)

'나의 이름은 기영입니다. 나이는 120살 까지 살고 싶어요'

In [32]:
len("바나나")

3

In [33]:
"내가 가장 좋아하는 바나나는 크기가 큰 바나나 입니다. 왜냐면 작은 바나나는 같은 무게를 사도 껍질로 다 버려져요". count("바나나")
# 바나나라는 단어가 세개
# "." 어떤 개념속에 있는 세부사항을 말함

3

In [34]:
",".join("abcd")

'a,b,c,d'

In [35]:
",".join(["abc","def","ghi"]) # 빈도수가 높음

'abc,def,ghi'

In [36]:
# 숫자만으로 저장된 전화 번호를 DB에서 얻었다 010 1234 5768 이 번호를 - 연결하자
#010-1234-5678

"-".join(["010", "1234", "5678"]) # [] 리스트

'010-1234-5678'

In [37]:
# 문자열 바꾸기(replace)
a = "I love apple. Because apple is so sweet."
b = a.replace("apple", "peach")
print(b)

I love peach. Because peach is so sweet.

In [38]:
# "010-1234-5678" --> "01012345678"
a = "010-1234-5678"
b = a.replace("-","")
print(b)

01012345678

In [39]:
# 문자열 나누기
a = "life is good"
b = a.split()
print(b)

['life', 'is', 'good']

In [41]:
# "010-1234-5678" --> ["010","1234","5678"] split() 의 기본값은 공백을 기준으로 나누니깐 "-"를 넣어주면 됨
a = "010-1234-5678"
b = a.split("-")
print("식별번호:", b[0], ", 국번", b[1], ", 개인번호", b[2])

식별번호: 010 , 국번 1234 , 개인번호 5678

In [51]:
a = [] # 빈 리스트는 먼저 만들어놓고 나중에 추가하기 위해 만드는 것
print(a)
e = [ 1, 2, [3,4]] # 2중 리스트
print(e)
print(len(e)) # 1, 2, [3,4]
print(e[0])
print(e[2])
print(e[-1])   # 거꾸로 센 것 = 문자열 원리랑 같음.
print(e[2][1]) # [3,4] 에서 첫 번째

[]
[1, 2, [3, 4]]
3
1
[3, 4]
[3, 4]
4

In [57]:
str1 = "abc"
print(str1[2])
# str1[2] = "d" 문자는 안됨.
a = [1,2,3]
a[2] = 4
print(a)

c
[1, 2, 4]

In [60]:
# 리스트 정렬     
a = [ 1, 3, 4, 2]
a.sort()
print(a)

[1, 2, 3, 4]

In [64]:
# 리스트 정렬 2    
a = [ 1, 3, 4, 2]
a2 = a[:]         # a의 복사본 원본a 손상없이 리스트 정렬
a2.sort()
print(a2)
print(a)

[1, 2, 3, 4]
[1, 3, 4, 2]

In [66]:
# 리스트 정렬 3    
a = [ 1, 3, 4, 2]
a2 = sorted(a)    # 위보다 조금 더 명시적임 원본을 지키겠다!
print(a2)
print(a)

[1, 2, 3, 4]
[1, 3, 4, 2]

In [70]:
# 뒤집어 정렬
a = [ 1, 3, 4, 2]
a.sort(reverse = True)
print(a)

a = [ 1, 3, 4, 2]
a2 = sorted(a, reverse = True)    
print(a2)
print(a)

[4, 3, 2, 1]
[4, 3, 2, 1]
[1, 3, 4, 2]

In [77]:
a = [1, 2, 3]
a[2]

3

In [78]:
a

[1, 2, 3]

In [79]:
a.pop() # 별말 없으면 맨 뒤에서 빠지고 / 지정해주면 해당 원소가 제외됨

3

In [81]:
a

[1, 2]

In [85]:
# 리스트 확장 / 더하기와 결과론적으로 동일하나 과정적인 측면에서는 다름.
a1 = [1, 2]; a2 = [3, 4]
new1 = a1+a2 ; print(new1)
a1.extend(a2) ; print(a1)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [100]:
# 딕셔너리
my_dic1 = {}

In [101]:
my_dic1["banana"] = "노랗고 달콤한 과일"

In [102]:
my_dic1["strawverry"] = "새콤 달콤 빨간 과일"

In [103]:
my_dic1

{'banana': '노랗고 달콤한 과일', 'strawverry': '새콤 달콤 빨간 과일'}

In [104]:
# del my_dic1[0] 에러 딕셔너리는 리스트와 동일하게 인덱스를 주지 않는다.
del my_dic1 ["banana"]

In [105]:
my_dic1

{'strawverry': '새콤 달콤 빨간 과일'}

In [107]:
my_dic1["banana"] = "노랗고 달콤한 과일"
my_dic1

{'strawverry': '새콤 달콤 빨간 과일', 'banana': '노랗고 달콤한 과일'}

In [109]:
my_dic1.keys() # 나는 키를 이런거로 가지고 있어

dict_keys(['strawverry', 'banana'])

In [112]:
my_dic1["banana"] = "노랗고 달콤한 과일2" # 중복되는 녀석이 있을 경우 가장 최근 것을 업데이트 함. 기존의 것을 삭제 
my_dic1

{'strawverry': '새콤 달콤 빨간 과일', 'banana': '노랗고 달콤한 과일2'}

In [113]:
# 불
a = True
b = False # 앞에는 항상 "대문자" 뒤에는 "소문자"

In [124]:
# page 109
a = [ 1, 4, 3, 2]
a2 = a[:]

In [125]:
b = [ 1, 4, 3, 2]
b2 = copy(b)

NameError: name 'copy' is not defined

In [126]:
# if 문 

if 3>1:
    print("참") # 들여쓰기는 종속에 관계다 / 콜론을 쓰면 끝난게 아니다를 표현 / 파이썬은 행을 바꾸면 작업이 마무리되는 특성이거든
if 4<10:        
    print("참")

참
참

In [128]:
# if 문 

if 3<1:
    print("참") # else는 if 값이 거짓일때 출력되는 함수
else:        
    print("거짓")

거짓

In [130]:
a = 2
b = 2
if a == b:
    print("두 수가 같다")

두 수가 같다

In [132]:
# if True or False:
if True | False:    
    print("참")

참

In [134]:
1 in [1,2,3]

True

In [135]:
1 not in [1,2,3]

False