In [1]:
a = "Life is ~~~"

In [2]:
a1 = a[0:4]          # 문자 슬라이싱 0~4 --> 4번째에서 짤라줘 / 공백 포함 / 자리의 시작은 0

In [3]:
a2 = a[0:5]

In [4]:
if a1 == a2:
    print("같다")
else:
    print("다르다") # 조건문을 활용한 비교로는 다르다고 출력

다르다

In [5]:
print(a1, len(a1))
print(a2, len(a2))          # 육안으로 보기엔 차이가 없음 // strip(양쪽) & lstrip(왼쪽) & rstrip(오른쪽) 공백 제거 함수

Life 4
Life  5

In [6]:
words1 = "딸기, 바나나, 수박"

In [7]:
bananaFromwords1 = words1[4:7]
print(bananaFromwords1)

바나나

In [8]:

wordToFind = "바나나"
indexOfBanana = words1.find(wordToFind)       # 위치알려주기 함수 Find
bananaFromwords1 = words1[indexOfBanana:indexOfBanana + len(wordToFind)]  # 내 코드 아님 이런건 어떻게 생각해?
print(bananaFromwords1)

바나나

In [9]:
# wmFromwords1 = words1[9:11]    맨 마지막을 출력하는 두가지 방법
wmFromwords1 = words1[9:]  
print(wmFromwords1)

수박

In [10]:
sbwmFromwords1 = words1[:2]
print(sbwmFromwords1)

딸기

In [11]:
# 오타 바꾸기
a = "Pithon"

In [12]:
a[1]

'i'

In [13]:
a[1] = "y" # 오류가 떠버려

TypeError: 'str' object does not support item assignment

In [14]:
a2 = a[:1] + "y" + a[2:] # 앞부분에 1 전이 정상이야 / 뒷부분에 2부터 정상이야

In [15]:
a = a2
print(a2)

Python

In [16]:
# 정렬
name1 = "김기영" ; major1 = "IT" ;howManyPhone1 =2
name2 = "김개굴" ; major2 = "BT" ;howManyPhone2 =3
print("Name" + "\t"+ "Major" + "\t" + "HowManyPhone")
print(name1 + "\t"+ major1 + "\t" + str(howManyPhone1))
print(name2 + "\t"+ major2 + "\t" + str(howManyPhone2)) # 숫자는 크기 비교 용이를 위해 오른쪽 정렬을 함 / 하지만 현재는 되어있지 않음.

Name	Major	HowManyPhone
김기영	IT	2
김개굴	BT	3

In [17]:
print("%s" "120")
print("%s" % "120") # %가 중간에 들어가므로써 다르게 출력됨을 알 수 있다.
print("%10s" % "120") # 총 10칸을 잡아놓고 채우겠다
print("%10s" % "12000000")

%s120
120
       120
  12000000

In [18]:
# 위의 예시 적용해보기
name1 = "김기영" ; major1 = "IT" ;howManyPhone1 =2
name2 = "김개굴" ; major2 = "BT" ;howManyPhone2 =3
print("Name" + "\t"+ "Major" + "\t" + "HowManyPhone")
print(name1 + "\t"+ major1 + "\t" + "%10s" % str(howManyPhone1))
print(name2 + "\t"+ major2 + "\t" + "%10s" % str(howManyPhone2))

Name	Major	HowManyPhone
김기영	IT	         2
김개굴	BT	         3

In [19]:
print("%-10s" % "120") # "-" 사용시 왼쪽에서 정렬
print("%-10s" % "120000")

120
120000

In [20]:
print("%0.2f" % 120) # 소수점 뒤를 몇자리로 할래?
print("%0.2f" % 120000)

120.00
120000.00

In [21]:
print("%10.2f" % 120) #  10칸을 놓고 소수점 뒤를 몇자리로 할래?
print("%10.2f" % 120000)

    120.00
 120000.00

In [22]:
# 포매팅
"~~~{0}~~~{1}~~~~~~"

'~~~{0}~~~{1}~~~~~~'

In [44]:
"~~~{0}~~~{1}~~~~~~".format("기영", 2)

'~~~기영~~~2~~~~~~'

In [24]:
"~~~{1}~~~{0}~~~~~~".format("기영", 2)

'~~~2~~~기영~~~~~~'

In [25]:
"~~~{name}~~~~~~~~{HowMany}~~~~{HowMany}~~~".format(name = "기영", HowMany =2)

'~~~기영~~~~~~~~2~~~~2~~~'

In [26]:
"{0}".format("120")

'120'

In [27]:
"{0:>10}".format("120") # 우로 정렬

'       120'

In [28]:
"{0:^10}".format("120") # 가운데 정렬

'   120    '

In [29]:
"{0:_>10}".format("120")

'_______120'

In [30]:
name = "기영"
age = 120
"나의 이름은 {0}입니다. 나이는 {1}살 까지 살고 싶어요".format(name, age)

'나의 이름은 기영입니다. 나이는 120살 까지 살고 싶어요'

In [32]:
f"나의 이름은 {name}입니다. 나이는 {age}살 까지 살고 싶어요".format(name, age)

'나의 이름은 기영입니다. 나이는 120살 까지 살고 싶어요'

In [34]:
len("바나나")

3

In [36]:
"내가 가장 좋아하는 바나나는 크기가 큰 바나나 입니다. 왜냐면 작은 바나나는 같은 무게를 사도 껍질로 다 버려져요". count("바나나")
# 바나나라는 단어가 세개
# "." 어떤 개념속에 있는 세부사항을 말함

3

In [40]:
",".join("abcd")

'a,b,c,d'

In [42]:
",".join(["abc","def","ghi"]) # 빈도수가 높음

'abc,def,ghi'

In [45]:
# 숫자만으로 저장된 전화 번호를 DB에서 얻었다 010 1234 5768 이 번호를 - 연결하자
#010-1234-5678

"-".join(["010", "1234", "5678"])

'010-1234-5678'

In [47]:
# 문자열 바꾸기(replace)
a = "I love apple. Because apple is so sweet."
b = a.replace("apple", "peach")
print(b)

I love peach. Because peach is so sweet.