In [1]:
# NumPy의 특징
# 고성능 과학 계산용 패키지로 강력한 N차원 배열 객체
# 반복문 없이 데이터 배열에 대한 처리 지원 빠르고 편리
# 데이터 과학 도구에 대한 생태계의 핵심을 이루고 있다.

In [2]:
import numpy as np

In [3]:
## 배열생성

In [4]:
# 1차원 배열(리스트를 배열로 바꿔주는 거라서 []를 포함해야함)
a1 = np.array([1,2,3,4,5])
print(a1)
print(type(a1)) # nd(n dimension) = n차원
print(a1.shape) # shape 배열에 대한 모양을 보여주는 속성
                # 5개의 엘리먼트/ , 뒤에 아무것도 없음 = 1차원
print(a1[0])    # index
a1[0] = 10      # 엘리먼트 수정
print(a1[0])

[1 2 3 4 5]
<class 'numpy.ndarray'>
(5,)
1
10

In [5]:
# 2차원 배열(리스트 안에 리스트가 내포된 형태[ [ ] ])
a2= np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(a2)
print(a2.shape)
print(a2[0,0], a2[1,2], a2[2,2]) # index

[[1 2 3]
 [4 5 6]
 [7 8 9]]
(3, 3)
1 6 9

In [6]:
# 3차원 배열
a3 = np.array([ [ [1, 2, 3], [4, 5, 6], [7, 8, 9] ],
                [ [1, 2, 3], [4, 5, 6], [7, 8, 9] ], 
                [ [1, 2, 3], [4, 5, 6], [7, 8, 9] ] ])
print(a3)
print(a3.shape)

[[[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]]
(3, 3, 3)

In [7]:
# 배열 생성 및 초기화

In [8]:
np.zeros(10) # 0으로 10개 엘리먼트를 갖는 배열 생성

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [9]:
np.ones((3,3)) # 1로 3행 3열의 배열 생성

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [10]:
np.full((3,3),1.23) # ((3행 3열 배열 생성) , 채워넣을 숫자)

array([[1.23, 1.23, 1.23],
       [1.23, 1.23, 1.23],
       [1.23, 1.23, 1.23]])

In [11]:
np.eye(3) # 단위 행렬 I 를 생성 A * I = A 
          # 정사각형 행렬이기 때문에 인수는 하나

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [12]:
np.tri(3) # 삼각 행렬로 행렬의 형태만 갖는 인수 하나만 가짐.

array([[1., 0., 0.],
       [1., 1., 0.],
       [1., 1., 1.]])

In [13]:
# _like(a1) a1 형태의 배열에 0을 채움.
print(a1)
np.zeros_like(a1)

[10  2  3  4  5]

array([0, 0, 0, 0, 0])

In [14]:
print(a2)
np.ones_like(a2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

In [15]:
print(a3) 
np.full_like(a3, 10.2) 
# np.full_like 사용때 소수를 넣으려면 dtype = float 추가

[[[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]]

array([[[10, 10, 10],
        [10, 10, 10],
        [10, 10, 10]],

       [[10, 10, 10],
        [10, 10, 10],
        [10, 10, 10]],

       [[10, 10, 10],
        [10, 10, 10],
        [10, 10, 10]]])

In [16]:
# 생성한 값으로 배열 생성(1.값을 생성함. 2.그 값으로 배열 생성)

In [17]:
# np.arange() 정수 범위로 배열 생성
np.arange(0, 30, 2) # 0 ~ 29, 2 단위로

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [18]:
# np.linspace() 범위 내에서 균등 간격의 배열 생성
np.linspace(0, 1, 5) # 0 ~ 1, 5개의 균등한 배열

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [19]:
# np.logspace() 범위 내에서 균등 간격으로 로그 스케일로 배열 생성
np.logspace(0.1, 1, 20) # 로그 개념이 없어서 일단 패스

array([ 1.25892541,  1.40400425,  1.565802  ,  1.74624535,  1.94748304,
        2.1719114 ,  2.42220294,  2.70133812,  3.0126409 ,  3.35981829,
        3.74700446,  4.17881006,  4.66037703,  5.19743987,  5.79639395,
        6.46437163,  7.2093272 ,  8.04013161,  8.9666781 , 10.        ])

In [20]:
# 랜덤값으로 배열 생성

In [21]:
# np.random.random() 실수 랜덤한 수의 배열 생성 (형태) 
np.random.random((3,3))

array([[0.46763696, 0.65084493, 0.0374431 ],
       [0.82987025, 0.73388042, 0.65864772],
       [0.28904059, 0.67492854, 0.49350846]])

In [22]:
# np.random.randint() 일정 구간의 랜덤 정수의 배열 생성
np.random.randint(0, 10, (3,3)) # (0 ~ 10, (형태))

array([[2, 3, 5],
       [7, 7, 3],
       [6, 9, 4]])

In [23]:
# np.random.normal() 정규분포 랜덤한 수의 배열 
np.random.normal(0, 1, (3,3)) # 평균 = 0 표준편차 = 1 (3X3 배열)

array([[ 0.27147972, -0.81282489, -2.29081454],
       [-0.07413666, -0.08374514,  0.05559175],
       [ 1.16513388,  2.08011283,  0.98469131]])

In [24]:
# np.random.rand() 균등분포를 고려한 랜덤한 수의 배열 생성
np.random.rand(3,3) # (형태)

array([[0.92457476, 0.74118545, 0.90792954],
       [0.33693601, 0.22539688, 0.53684239],
       [0.6314268 , 0.3947627 , 0.57034195]])

In [25]:
# np.random.randn() 표준정규분포를 고려한 랜덤한 수의 배열 생성
np.random.randn(3,3)

array([[ 0.20026606,  0.55994238, -0.28601362],
       [ 1.12032332,  0.21796053,  1.30605889],
       [-1.53011466,  0.09480722, -1.5113587 ]])

In [26]:
# 표준데이터타입 dtype =

In [27]:
np.zeros(20, dtype=int) # int 값으로 0을 줌

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [28]:
np.ones((3,3), dtype=bool) # 3X3 배열에 1로 채움
                           # bool T OR F
                           # 1 = True

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [29]:
np.full((3,3), 1.02, dtype =float) # 실수값으로 지정된 배열 생성

array([[1.02, 1.02, 1.02],
       [1.02, 1.02, 1.02],
       [1.02, 1.02, 1.02]])

In [30]:
# 날짜/시간 배열 생성

In [31]:
date = np.array('2020-01-01', dtype = np.datetime64) 
date 
# 문자열 -> 날짜열로 바꿈[D = day만 나타내고 있음을 나타냄]

array('2020-01-01', dtype='datetime64[D]')

In [32]:
date + np.arange(12) # dtype 을 바꾸고 이러한 연산이 가능해짐
                     # 기존 날짜 + 숫자

array(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
       '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
       '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12'],
      dtype='datetime64[D]')

In [33]:
datetime = np.datetime64('2021-06-06 12:00')
datetime

numpy.datetime64('2021-06-06T12:00')

In [34]:
datetime = np.datetime64('2021-06-06 12:00:12.34','ns')
datetime # ns = 나노초

numpy.datetime64('2021-06-06T12:00:12.340000000')

In [35]:
## 배열 조회

In [36]:
# 배열 속성 정보

In [37]:
def array_info(array):
    print(array)
    print('ndim', array.ndim)
    print('shape', array.shape)
    print('dtype', array.dtype)
    print('size', array.size)
    print('itemsize', array.itemsize)
    print('nbytes', array.nbytes)
    print('strides', array.strides)

In [38]:
array_info(a1)
#itemsize = item 하나가 4byte라는 뜻
#nbytes = item(4) * 엘리먼트 수(5) = 20
#strides = 10 -> 2 -> 3 -> 4 -> 5 한 엘리먼트를 넘어가는데 4byte

[10  2  3  4  5]
ndim 1
shape (5,)
dtype int32
size 5
itemsize 4
nbytes 20
strides (4,)

In [39]:
array_info(a2)
#strides = (12, 4) 엘리먼트를 넘어가는데 4byte
#                  다른 행으로 넘어가는데 12byte(4*3)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
ndim 2
shape (3, 3)
dtype int32
size 9
itemsize 4
nbytes 36
strides (12, 4)

In [40]:
array_info(a3)

[[[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]]
ndim 3
shape (3, 3, 3)
dtype int32
size 27
itemsize 4
nbytes 108
strides (36, 12, 4)

In [41]:
# 인덱싱

In [42]:
print(a1)
print(a1[0])
print(a1[2])
print(a1[-1])
print(a1[-2])

[10  2  3  4  5]
10
3
5
4

In [43]:
print(a2)
print(a2[0,0])
print(a2[0,2])
print(a2[1,-1])
print(a2[2,-1])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
1
3
6
9

In [48]:
print(a3)       #[블럭, 행, 열]
print(a3[0,0,0])
print(a3[1,1,1])
print(a3[2,2,2])
print(a3[0,-1,-2])

[[[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]]
1
5
9
8

In [49]:
# 슬라이싱

In [52]:
print(a1)
print(a1[0:2]) # 0 ~ 1 까지
print(a1[0:])  # 0 ~ 끝까지
print(a1[:1])  # 0행
print(a1[::2]) # 0 : 끝까지 : 2칸씩
print(a1[::-1])# 0 : 끝까지 : 거꾸로 1칸씩

[10  2  3  4  5]
[10  2]
[10  2  3  4  5]
[10]
[10  3  5]
[ 5  4  3  2 10]

In [54]:
print(a2)
print(a2[1])          # 1행 4,5,6만 출력
print(a2[1, :])       # 1행 모든열 출력
print(a2[:2, :2])     # 0,1행 0,1열 출력
print(a2[1:, ::-1])   # 1,2행 거꾸로 0,1,2열 출력
print(a2[::-1, ::-1]) # 거꾸로 모든행 모든열 출력

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[4 5 6]
[4 5 6]
[[1 2]
 [4 5]]
[[6 5 4]
 [9 8 7]]
[[9 8 7]
 [6 5 4]
 [3 2 1]]

In [68]:
# 불리언 인덱싱
# 배열 각 요소의 선택 여부를 불리언으로 지정
# True 값인 인덱스의 값만 조회
# 특정 조건을 불리언 인덱싱을 주고 그 결과에 대해서 원하는 배열의 값을 받을때 많이 사용

In [58]:
print(a1)
bi = [False, True, True, False, True]
print(a1[bi]) # bi True 자리에 해당 하는 엘리먼트 출력

[10  2  3  4  5]
[2 3 5]

In [67]:
print(a2)
bi = np.random.randint(0,2,(3,3),dtype=bool) # 랜덤 정수 0,1을 가지고
print(bi)                                    # 3X3 배열을 만듦
print(a2[bi])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[False  True  True]
 [False False  True]
 [ True  True False]]
[2 3 6 7 8]

In [69]:
# 팬시 인덱싱(a1(변수))

In [75]:
print(a1)
print([a1[0], a1[2]])
ind = [0, 2]
print(a1[ind])
ind2 = np.array([[0,1],[2,0]])
print(a1[ind2])  # 인덱스는 2차원일 경우 배열이 2차원 출력

[10  2  3  4  5]
[10, 3]
[10  3]
[[10  2]
 [ 3 10]]

In [88]:
print(a2)
row = np.array([0, 2]) # 0행, 2행
col = np.array([1, 2]) # 1행, 2행

print(1,a2[row, col]) # 0행 1열 / 2행 2열 
print(2,a2[row, :])   # 0, 2행 / 모든열   =123/789
print(3,a2[:,col])    # 모든행 / 1,2열    =23/56/89
print(4,a2[row,1])   # 0,2행 / 1열       =2/8
print(5,a2[2,col])    # 2행 / 1,2열       =89
print(6,a2[row, 1:])  # 0,2행 / 1,2열   = 23/89
print(7,a2[1:,col])   # 1,2행 / 1,2열   = 56/89

[[1 2 3]
 [4 5 6]
 [7 8 9]]
1 [2 9]
2 [[1 2 3]
 [7 8 9]]
3 [[2 3]
 [5 6]
 [8 9]]
4 [2 8]
5 [8 9]
6 [[2 3]
 [8 9]]
7 [[5 6]
 [8 9]]

In [89]:
## 배열 값 삽입 / 수정 / 삭제 / 복사

In [90]:
# 배열 값 삽입
# insert() 배열의 특정 위치에 값 삽입
# axis 지정하지 않으면 1차원 배열로 변환
# 추가할 방향을 axis로 지정
# 원본 배열 변경없이 새로운 배열 변환#

In [93]:
# insert(배열, 위치, 삽입값, axis=)
print(a1)
b1 = np.insert(a1, 0, 55)
print(b1)
print(a1) 
# a1 이라는 원본 배열은 insert()를 하더라도 바뀌지 않는다.

[10  2  3  4  5]
[55 10  2  3  4  5]
[10  2  3  4  5]

In [95]:
print(a2)
b2 = np.insert(a2, 1, 10, axis=0) # axis = 0 행
print(b2)
c2 = np.insert(a2, 1, 10, axis=1) # axis = 1 열
print(c2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[ 1  2  3]
 [10 10 10]
 [ 4  5  6]
 [ 7  8  9]]
[[ 1 10  2  3]
 [ 4 10  5  6]
 [ 7 10  8  9]]

In [96]:
# 배열 값 수정

In [105]:
print(a1)
a1[0] = 4
a1[1] = 5
a1[2] = 6
a1[3] = 4
a1[4] = 5
print(a1)   # 1. 엘리먼트를 각각 바꿔주는 방법
a1[:1] = 9  
print(a1)   # 2. 엘리먼트 범위로 바꿔주는 방법
i = [1,3,4]
a1[i] = 0
print(a1)   # 3. 펜시인덱싱으로 바꾸는 방법 "리스트"
j = np.array([1,3,4])
a1[j] = 10
print(a1)   # 4. 펜시인덱싱으로 바꾸는 방법 "배열"
a1[j] -=5   
print(a1)   # 5. 펜시인덱싱 -+*/ 숫자 연산

[9 5 6 5 5]
[4 5 6 4 5]
[9 5 6 4 5]
[9 0 6 0 0]
[ 9 10  6 10 10]
[9 5 6 5 5]

In [112]:
print(a2)
a2[0,0] = 1
a2[1,1] = 2
a2[2,2] = 3
a2[0]   = 1 # 해당 하는 행 모두
print(a2)   # 1. 엘리먼트를 각각 바꿔주는 방법
a2[1:,2]= 10
print(a2)   # 2. 엘리먼트 범위로 바꿔주는 방법
row = np.array([0,1])
col = np.array([1,2])
a2[row,col] = 11
print(a2)   # 3. 펜시인덱싱으로 바꾸는 방법 "배열"

[[ 1 11  1]
 [ 4  2 11]
 [ 7  8 10]]
[[ 1  1  1]
 [ 4  2 11]
 [ 7  8  3]]
[[ 1  1  1]
 [ 4  2 10]
 [ 7  8 10]]
[[ 1 11  1]
 [ 4  2 11]
 [ 7  8 10]]

In [113]:
# 배열 값 삭제
# delete() 배열의 특정 취치에 값 삭제
# axis 지정하지 않으면 1차원 배열로 변환
# 삭제할 방향을 axis로 지정
# 원본 배열 변경없이 새로운 배열 변환#

In [117]:
# delete(배열, 위치, axis=)
print(a1)
b1 = np.delete(a1, 1)
print(b1)
print(a1)

[9 5 6 5 5]
[9 6 5 5]
[9 5 6 5 5]

In [120]:
print(a2)
b2 = np.delete(a2,1,axis=0)
print(b2)
c2 = np.delete(a2,1,axis=1)
print(c2)

[[ 1 11  1]
 [ 4  2 11]
 [ 7  8 10]]
[[ 1 11  1]
 [ 7  8 10]]
[[ 1  1]
 [ 4 11]
 [ 7 10]]

In [126]:
# 배열복사
# 리스트 자료형과 달리 배열의 슬라이스는 "복사본이 아님"
# 리스트 자료형은 복사본으로 리턴됨.
print(a2)
print(a2[:2, :2])
a2_sub = a2[:2, :2]
print(a2_sub)
a2_sub[:,1] = 0 # 원본 배열 조차 바뀌었음을 알 수 있음
print(a2_sub)

[[ 1  0  1]
 [ 4  0 11]
 [ 7  8 10]]
[[1 0]
 [4 0]]
[[1 0]
 [4 0]]
[[1 0]
 [4 0]]

In [137]:
print(a2)
a2_sub_copy = a2[:2,:2].copy()
print(a2_sub_copy)
a2_sub_copy[:,1] = 0
print(a2_sub_copy)
print(a2)          # .copy본을 슬라이싱해 수정해도 원본 바뀜X

[[ 1  1  1]
 [ 4  1 11]
 [ 7  1 10]]
[[1 1]
 [4 1]]
[[1 0]
 [4 0]]
[[ 1  1  1]
 [ 4  1 11]
 [ 7  1 10]]

In [138]:
## 배열 변환

In [139]:
# 배열 전치 및 축 변경

In [142]:
print(a2)
print(a2.T)

[[ 1  1  1]
 [ 4  1 11]
 [ 7  1 10]]
[[ 1  4  7]
 [ 1  1  1]
 [ 1 11 10]]

In [147]:
print(a3)
print(a3.swapaxes(1,0))
print(a3)
print(a3.swapaxes(0,1))

[[[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]]
[[[1 2 3]
  [1 2 3]
  [1 2 3]]

 [[4 5 6]
  [4 5 6]
  [4 5 6]]

 [[7 8 9]
  [7 8 9]
  [7 8 9]]]

In [150]:
# 배열 재구조화

In [153]:
n1 = np.arange(1,10)
print(n1)
print(n1.reshape(3,3)) # .reshape 1차원 -> 2차원으로 만듦

[1 2 3 4 5 6 7 8 9]
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [155]:
print(n1)
print(n1[np.newaxis, :5]) # row 1 ~ 5 까지의 축이 생성됨
print(n1[:5, np.newaxis]) # col 1 ~ 5 까지의 축이 생성됨

[1 2 3 4 5 6 7 8 9]
[[1 2 3 4 5]]
[[1]
 [2]
 [3]
 [4]
 [5]]

In [156]:
# 배열 크기 변경

In [160]:
# 모양변경 .resize(( , ))
n2 = np.random.randint(0, 10, (2, 5)) 
print(n2)

n2.resize((5,2))
print(n2)

[[5 1 2 4 9]
 [1 9 7 0 1]]
[[5 1]
 [2 4]
 [9 1]
 [9 7]
 [0 1]]

In [163]:
# 배열 크기 증가
n2.resize((5,5))
print(n2)       # 기존의 엘리먼트 + 0 엘리먼트가 추가가 됨

[[5 1 2 4 9]
 [1 9 7 0 1]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]

In [165]:
n2.resize((3,3))
print(n2)       # 10번째 엘리먼트인 1은 
                # 배열이 작아지면서 삭제됨.

[[5 1 2]
 [4 9 1]
 [9 7 0]]

In [166]:
# 배열 추가

In [170]:
# .append
a2 =np.arange(1,10).reshape(3,3)
print(a2)
b2 =np.arange(10,19).reshape(3,3)
print(b2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[10 11 12]
 [13 14 15]
 [16 17 18]]

In [176]:
c2 = np.append(a2, b2)
print(c2)             # .append는 axis 지정이 따로 없으면 1차원 배열 출력

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]

In [174]:
c2 = np.append(a2, b2, axis=0) # 행이 늘어남
print(c2)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]
 [13 14 15]
 [16 17 18]]

In [177]:
c2 = np.append(a2, b2, axis=1) # 열이 늘어남
print(c2)

[[ 1  2  3 10 11 12]
 [ 4  5  6 13 14 15]
 [ 7  8  9 16 17 18]]

In [178]:
# 배열 연결

In [181]:
# np.concatenate([])
a1 = np.array([1,3,5])
b1 = np.array([2,4,6])
np.concatenate([a1, b1])

array([1, 3, 5, 2, 4, 6])

In [185]:
c1 = np.array([7,8,9])
np.concatenate([a1,b1,c1])

array([1, 3, 5, 2, 4, 6, 7, 8, 9])

In [189]:
a2 = np.array([[1,2,3],
              [4,5,6]])
np.concatenate([a2, a2]) # 기본적으로 axis = 0 이라서 행이 늘어남

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

In [191]:
a2 = np.array([[1,2,3],
              [4,5,6]])
np.concatenate([a2, a2], axis =1)

array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])

In [193]:
# np.vstack([]) 수직스택,1차원으로 연결
np.vstack([a2,a2])

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

In [195]:
# np.hstack([]) 수평스택, 2차원으로 연결
np.hstack([a2,a2])

array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])

In [197]:
# np.dstack([]) 깊이스택, 3차원으로 연결
np.dstack([a2,a2])

array([[[1, 1],
        [2, 2],
        [3, 3]],

       [[4, 4],
        [5, 5],
        [6, 6]]])

In [199]:
# np.stack([]) 새로운 차원으로 연결
np.stack([a2, a2]) # 2차원 --> 3차원으로

array([[[1, 2, 3],
        [4, 5, 6]],

       [[1, 2, 3],
        [4, 5, 6]]])

In [200]:
# 배열 분할

In [205]:
#.split()
a1 = np.arange(0,10)
print(a1)
b1, c1 = np.split(a1, [5]) # 5번째 엘리먼트를 기준으로 나눠짐
print(b1, c1)
b1, c1, d1, e1, f1 = np.split(a1,[2,4,6,8])
print(b1, c1, d1, e1, f1)

[0 1 2 3 4 5 6 7 8 9]
[0 1 2 3 4] [5 6 7 8 9]
[0 1] [2 3] [4 5] [6 7] [8 9]

In [208]:
#.vsplit() 수직분할, 1차원으로 분할
a2 = np.arange(1,10).reshape(3,3)
print(a2)
b2, c2 = np.vsplit(a2, [2]) # 0,1행 / 2행이 스플릿 됨
print(b2,c2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 2 3]
 [4 5 6]] [[7 8 9]]

In [210]:
#.hsplit() 수평분할, 2차원으로 분할
a2 = np.arange(1,10).reshape(3,3)
print(a2)
b2, c2 = np.hsplit(a2, [2]) # 0,1열 / 2열이 스플릿 됨
print(b2,c2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 2]
 [4 5]
 [7 8]] [[3]
 [6]
 [9]]

In [211]:
## 배열연산(NumPy의 장점)
# 배열연산은 각 엘리먼트 연산(벡터화)을 사용
# 일반적으로 범용 함수를 통해 구현
# 배열 요소에 대한 반복적인 계산 효율적 수행

In [227]:
# 브로드 캐스팅(모양이 다르더라도 분배 법칙으로 계산됨)
print(np.array([1,2,3]) + np.array([5]))
print(np.array([1,2,3]) + 5)
print(np.array([1,2,3]) + np.array([[1,2,3],[4,5,6],[7,8,9]]))
print(np.array([1,2,3]) + np.arange(1,10).reshape(3,3))
print(np.array([1,2,3]) + np.array([[1],[2],[3]]))
print(np.array([1,2,3]) + np.array([1,2,3]).reshape(3,1))

[6 7 8]
[6 7 8]
[[ 2  4  6]
 [ 5  7  9]
 [ 8 10 12]]
[[ 2  4  6]
 [ 5  7  9]
 [ 8 10 12]]
[[2 3 4]
 [3 4 5]
 [4 5 6]]
[[2 3 4]
 [3 4 5]
 [4 5 6]]

In [228]:
# 산술연산

In [239]:
a1 = np.arange(1, 10)
print(a1)
print(a1 + 1) 
print(np.add(a1, 10))       # 연산자 + 와 같은 역할
print(a1 - 1)
print(np.subtract(a1, 10))  # 연산자 - 와 같은 역할
print(-a1)
print(np.negative(a1))      # -a1와 같은 역할
print(a1 * 2)
print(np.multiply(a1, 2))   # 연산자 * 와 같은 역할
print(a1 / 2)
print(np.divide(a1, 2))     # 연산자 / 와 같은 역할
print(a1 // 2)
print(np.floor_divide(a1,2)) # 연산자 // 와 같은 역할 (몫)  
print(a1 ** 2)
print(np.power(a1,2))        # 연산자 ** 와 같은 역할
print(a1 % 2)
print(np.mod(a1,2))          # 연산자 % 와 같은 역할(나머지)

[1 2 3 4 5 6 7 8 9]
[ 2  3  4  5  6  7  8  9 10]
[11 12 13 14 15 16 17 18 19]
[0 1 2 3 4 5 6 7 8]
[-9 -8 -7 -6 -5 -4 -3 -2 -1]
[-1 -2 -3 -4 -5 -6 -7 -8 -9]
[-1 -2 -3 -4 -5 -6 -7 -8 -9]
[ 2  4  6  8 10 12 14 16 18]
[ 2  4  6  8 10 12 14 16 18]
[0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5]
[0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5]
[0 1 1 2 2 3 3 4 4]
[0 1 1 2 2 3 3 4 4]
[ 1  4  9 16 25 36 49 64 81]
[ 1  4  9 16 25 36 49 64 81]
[1 0 1 0 1 0 1 0 1]
[1 0 1 0 1 0 1 0 1]

In [244]:
a1 = np.arange(1, 10)
print(a1)
b1 = np.random.randint(1,10, size =9) # size = 엘리먼트 개수
print(b1)
print(a1 + b1)
print(a1 - b1)
print(a1 * b1)
print(a1 / b1)
print(a1 // b1)
print(a1 ** b1)
print(a1 % b1)

[1 2 3 4 5 6 7 8 9]
[6 3 8 9 4 4 4 3 7]
[ 7  5 11 13  9 10 11 11 16]
[-5 -1 -5 -5  1  2  3  5  2]
[ 6  6 24 36 20 24 28 24 63]
[0.16666667 0.66666667 0.375      0.44444444 1.25       1.5
 1.75       2.66666667 1.28571429]
[0 0 0 0 1 1 1 2 1]
[      1       8    6561  262144     625    1296    2401     512 4782969]
[1 2 3 4 1 2 3 2 2]

In [251]:
a2 = np.arange(1,10).reshape(3,3)
print(a2)
b2 = np.random.randint(1, 10 ,size=(3,3))
print(b2)
print(a2 + b2)
print(a2 - b2)
print(a2 * b2)
print(a2 / b2)
print(a2 // b2)
print(a2 ** b2)
print(a2 % b2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[4 1 5]
 [9 5 2]
 [7 7 9]]
[[ 5  3  8]
 [13 10  8]
 [14 15 18]]
[[-3  1 -2]
 [-5  0  4]
 [ 0  1  0]]
[[ 4  2 15]
 [36 25 12]
 [49 56 81]]
[[0.25       2.         0.6       ]
 [0.44444444 1.         3.        ]
 [1.         1.14285714 1.        ]]
[[0 2 0]
 [0 1 3]
 [1 1 1]]
[[        1         2       243]
 [   262144      3125        36]
 [   823543   2097152 387420489]]
[[1 0 3]
 [4 0 0]
 [0 1 0]]

In [269]:
# 절대값 함수
a1 = np.random.randint(-10,10, 5)
print(a1)
print(np.abs(a1))

[-2 -4  4 -3  4]
[2 4 4 3 4]

In [271]:
# 제곱/ 제곱근 함수
print(a1)
print(np.square(a1)) # 제곱
print(np.sqrt(a1))   # 제곱근

[-2 -4  4 -3  4]
[ 4 16 16  9 16]
[nan nan  2. nan  2.]

<ipython-input-271-03a60fc6b5fb>:4: RuntimeWarning: invalid value encountered in sqrt
  print(np.sqrt(a1))   # 제곱근

In [278]:
# 지수와 로그 함수
a1 = np.random.randint(1,10, 5)
print(a1)
print(np.exp(a1))
print(np.exp2(a1))
print(np.power(a1,2))

[6 1 7 2 2]
[ 403.42879349    2.71828183 1096.63315843    7.3890561     7.3890561 ]
[ 64.   2. 128.   4.   4.]
[36  1 49  4  4]

In [279]:
## 집계함수

In [285]:
# sum()
a2 = np.random.randint(1,10, (3,3))
print(a2)
print(a2.sum(), np.sum(a2))        # 두 형태 모두 사용 가능
print(a2.sum(axis = 0), np.sum(a2, axis=0)) # 행 (세로)
print(a2.sum(axis = 1), np.sum(a2, axis=1)) # 열 (가로)

[[3 3 6]
 [4 3 4]
 [4 7 9]]
43 43
[11 13 19] [11 13 19]
[12 11 20] [12 11 20]

In [287]:
# cumsum() 누적합 계산
print(a2)
print(np.cumsum(a2))
print(np.cumsum(a2, axis=0)) # 행 (세로)
print(np.cumsum(a2, axis=1)) # 열 (가로)

[[3 3 6]
 [4 3 4]
 [4 7 9]]
[ 3  6 12 16 19 23 27 34 43]
[[ 3  3  6]
 [ 7  6 10]
 [11 13 19]]
[[ 3  6 12]
 [ 4  7 11]
 [ 4 11 20]]

In [289]:
# diff(차분계산)
print(a2)
print(np.diff(a2)) # 0행 0열 3 ->3 : 0 / 3->6 : 3 
print(np.diff(a2, axis=0)) # 행 (세로)
print(np.diff(a2, axis=1)) # 열 (가로)

[[3 3 6]
 [4 3 4]
 [4 7 9]]
[[ 0  3]
 [-1  1]
 [ 3  2]]
[[ 1  0 -2]
 [ 0  4  5]]
[[ 0  3]
 [-1  1]
 [ 3  2]]

In [291]:
# prod() 곱 계산
print(a2)
print(np.prod(a2)) 
print(np.prod(a2, axis=0)) # 행 (세로)
print(np.prod(a2, axis=1)) # 열 (가로)

[[3 3 6]
 [4 3 4]
 [4 7 9]]
653184
[ 48  63 216]
[ 54  48 252]

In [293]:
# cumprod() 누적 곱 계산
print(a2)
print(np.cumprod(a2)) 
print(np.cumprod(a2, axis=0)) # 행 (세로)
print(np.cumprod(a2, axis=1)) # 열 (가로)

[[3 3 6]
 [4 3 4]
 [4 7 9]]
[     3      9     54    216    648   2592  10368  72576 653184]
[[  3   3   6]
 [ 12   9  24]
 [ 48  63 216]]
[[  3   9  54]
 [  4  12  48]
 [  4  28 252]]

In [305]:
# dot() / matmul() 점곱/ 행렬곱 계산
print(a2)
b2 = np.ones_like(a2)
print(b2)
print(np.dot(a2,b2))    # 일반 행렬의 곱(n X a * a X s)
print(np.matmul(a2,b2)) # dot과 똑같다

# 차이점
# 1. dot는 행렬과 상수(constant)의 곱셈을 허용하지만, 
#    matmul은 Error를 일으킨다.
np.dot(a2, 2)
#    np.matmul(a2, 2)
# 2. 3차원 이상의 행렬곱(Tensor multiplication)을 수행할 경우
#    dot와 matmul은 전혀 다른 결과

[[3 3 6]
 [4 3 4]
 [4 7 9]]
[[1 1 1]
 [1 1 1]
 [1 1 1]]
[[12 12 12]
 [11 11 11]
 [20 20 20]]
[[12 12 12]
 [11 11 11]
 [20 20 20]]

array([[ 6,  6, 12],
       [ 8,  6,  8],
       [ 8, 14, 18]])

In [306]:
# tensordot() 텐서곱 계산 ################이해 안감.
print(a2)
print(b2)
print(np.tensordot(a2,b2))   
print(np.tensordot(a2,b2,axes = 0))   
print(np.tensordot(a2,b2,axes = 1))

[[3 3 6]
 [4 3 4]
 [4 7 9]]
[[1 1 1]
 [1 1 1]
 [1 1 1]]
43
[[[[3 3 3]
   [3 3 3]
   [3 3 3]]

  [[3 3 3]
   [3 3 3]
   [3 3 3]]

  [[6 6 6]
   [6 6 6]
   [6 6 6]]]


 [[[4 4 4]
   [4 4 4]
   [4 4 4]]

  [[3 3 3]
   [3 3 3]
   [3 3 3]]

  [[4 4 4]
   [4 4 4]
   [4 4 4]]]


 [[[4 4 4]
   [4 4 4]
   [4 4 4]]

  [[7 7 7]
   [7 7 7]
   [7 7 7]]

  [[9 9 9]
   [9 9 9]
   [9 9 9]]]]
[[12 12 12]
 [11 11 11]
 [20 20 20]]

In [308]:
# cross() 벡터곱
x = [1,2,3]
y = [4,5,6]
print(np.cross(x,y))

[-3  6 -3]

In [311]:
# inner()/outer() 내적/외적
print(a2)
print(b2)
print(np.inner(a2, b2)) # dot() 똑같은 결과 행렬의 곱
print(np.outer(a2, b2)) # dot() 을 바깥으로 펼쳐냄

[[3 3 6]
 [4 3 4]
 [4 7 9]]
[[1 1 1]
 [1 1 1]
 [1 1 1]]
[[12 12 12]
 [11 11 11]
 [20 20 20]]
[[3 3 3 3 3 3 3 3 3]
 [3 3 3 3 3 3 3 3 3]
 [6 6 6 6 6 6 6 6 6]
 [4 4 4 4 4 4 4 4 4]
 [3 3 3 3 3 3 3 3 3]
 [4 4 4 4 4 4 4 4 4]
 [4 4 4 4 4 4 4 4 4]
 [7 7 7 7 7 7 7 7 7]
 [9 9 9 9 9 9 9 9 9]]

In [313]:
# mean() 평균 계산
print(a2)
print(np.mean(a2))         # 엘리먼트 합의 평균
print(np.mean(a2, axis=0)) # 각 0 ~ 2 행 (세로)
print(np.mean(a2, axis=1)) # 각 0 ~ 2 열 (가로)

[[3 3 6]
 [4 3 4]
 [4 7 9]]
4.777777777777778
[3.66666667 4.33333333 6.33333333]
[4.         3.66666667 6.66666667]

In [315]:
# std() 표준 편자 계산
print(a2)
print(np.std(a2))         
print(np.std(a2, axis=0))
print(np.std(a2, axis=1))

[[3 3 6]
 [4 3 4]
 [4 7 9]]
1.9876159799998132
[0.47140452 1.88561808 2.05480467]
[1.41421356 0.47140452 2.05480467]

In [317]:
# var() 분산
print(a2)
print(np.var(a2))         
print(np.var(a2, axis=0))
print(np.var(a2, axis=1))

[[3 3 6]
 [4 3 4]
 [4 7 9]]
3.9506172839506175
[0.22222222 3.55555556 4.22222222]
[2.         0.22222222 4.22222222]

In [321]:
# min () 최소값
print(a2)
print(np.min(a2))         
print(np.min(a2, axis=0))
print(np.min(a2, axis=1))

[[3 3 6]
 [4 3 4]
 [4 7 9]]
3
[3 3 4]
[3 3 4]

In [322]:
# max () 최대값
print(a2)
print(np.max(a2))         
print(np.max(a2, axis=0)) # 세로(다른 행)
print(np.max(a2, axis=1)) # 가로(다른 열)

[[3 3 6]
 [4 3 4]
 [4 7 9]]
9
[4 7 9]
[6 4 9]

In [324]:
# argmin () 최소값 인덱스
print(a2)
print(np.argmin(a2))         
print(np.argmin(a2, axis=0)) # 세로 (다른 행)
print(np.argmin(a2, axis=1)) # 가로 (다른 열)

[[3 3 6]
 [4 3 4]
 [4 7 9]]
0
[0 0 1]
[0 1 0]

In [326]:
# argmax () 최대값 인덱스
print(a2)
print(np.argmax(a2))         
print(np.argmax(a2, axis=0)) # 세로 (다른 행)
print(np.argmax(a2, axis=1)) # 가로 (다른 열)

[[3 3 6]
 [4 3 4]
 [4 7 9]]
8
[1 2 2]
[2 0 2]

In [330]:
# median () 중앙값
print(a2)
print(np.median(a2))         
print(np.median(a2, axis=0)) # 세로 (다른 행)
print(np.median(a2, axis=1))

[[3 3 6]
 [4 3 4]
 [4 7 9]]
4.0
[4. 3. 6.]
[3. 4. 7.]

In [332]:
# percentile() 백분위수
a1 = np.array([0,1,2,3])
print(a1)
print(np.percentile(a1,[0, 20, 40, 60, 80, 100],
                   interpolation='linear'))
print(np.percentile(a1,[0, 20, 40, 60, 80, 100],
                   interpolation='higher'))
print(np.percentile(a1,[0, 20, 40, 60, 80, 100],
                   interpolation='lower'))
print(np.percentile(a1,[0, 20, 40, 60, 80, 100],
                   interpolation='nearest'))
print(np.percentile(a1,[0, 20, 40, 60, 80, 100],
                   interpolation='midpoint'))

[0 1 2 3]
[0.  0.6 1.2 1.8 2.4 3. ]
[0 1 2 2 3 3]
[0 0 1 1 2 3]
[0 1 1 2 2 3]
[0.  0.5 1.5 1.5 2.5 3. ]

In [346]:
a1 = np.array([0,1,2,3])
print(a1)
print(np.percentile(a1, 30)) # a1 배열에 30% 지점

[0 1 2 3]
0.8999999999999999

In [351]:
# any
a2 = np.array([[False, False, False],
              [False, True, True],
              [False, True, True]])
print(a2)
print(np.any(a2))           # 이 중에서 하나라도 True면 True
print(np.any(a2, axis = 0)) # 행 (세로)
print(np.any(a2, axis = 1)) # 열 (가로)

[[False False False]
 [False  True  True]
 [False  True  True]]
True
[False  True  True]
[False  True  True]

In [355]:
# all
a2 = np.array([[False, False, True],
              [True, True, True],
              [False, True, True]])
print(a2)
print(np.all(a2))           # 모든 값이 True 여야함
print(np.all(a2, axis = 0)) # 행 (세로)
print(np.all(a2, axis = 1)) # 열 (가로)

[[False False  True]
 [ True  True  True]
 [False  True  True]]
False
[False False  True]
[False  True False]

In [356]:
## 비교 연산

In [361]:
a1 = np.arange(1,10)
print(a1)
print(a1 == 5) # 위치에 대해서만 True 값을 줌.
print(a1 != 5)
print(a1 <= 5)
print(a1 > 5)

[1 2 3 4 5 6 7 8 9]
[False False False False  True False False False False]
[ True  True  True  True False  True  True  True  True]
[ True  True  True  True  True False False False False]
[False False False False False  True  True  True  True]

In [368]:
a2 = np.arange(1,10).reshape(3,3)
print(a2)
print(np.sum(a2))
print(np.count_nonzero(a2 > 5)) # 6,7,8,9 4개
print(np.sum(a2 > 5))           # 5 초과인것 4개
print(np.sum(a2 > 5, axis=0))   # 세로에서 5 초과인 개수
print(np.sum(a2 > 5, axis=1))   # 가로에서 5 초과인 개수
print(np.any(a2 > 5, axis=0))
print(np.any(a2 > 5, axis=1))
print(np.all(a2 > 5, axis=0))
print(np.all(a2 > 5, axis=1))

[[1 2 3]
 [4 5 6]
 [7 8 9]]
45
4
4
[1 1 2]
[0 1 3]
[ True  True  True]
[False  True  True]
[False False False]
[False False  True]

In [371]:
# np.isclose()
a1 = np.array([1,2,3,4,5])
print(a1) 
b1 = np.array([1,2,3,3,4])
print(b1)
print(np.isclose(a1,b1))   # 가깝나요?

[1 2 3 4 5]
[1 2 3 3 4]
[ True  True  True False False]

In [381]:
# np.nan,inf,ninf
a1 = np.array([np.nan, 2, np.inf, 4, np.NINF])
print(a1)
print(np.isnan(a1))    # na 인거
print(np.isinf(a1))    # 무한대인거 
print(np.isfinite(a1)) # 무한대가 아닌거

[ nan   2.  inf   4. -inf]
[ True False False False False]
[False False  True False  True]
[False  True False  True False]

In [387]:
# 불리언 연산자 (&, |, ^, ~)
a2 = np.arange(1,10).reshape(3,3)
print(a2)
print(1 ,(a2 > 5) & (a2 < 8))
print(1 ,a2[(a2 > 5) & (a2 < 8)]) # 불리언 인덱싱

print(2 ,(a2 > 5) | (a2 < 8))
print(2 ,a2[(a2 > 5) | (a2 < 8)])

print(3 ,(a2 > 5) ^ (a2 < 8))     # 해당하는 엘리먼트 이외 값
print(3 ,a2[(a2 > 5) ^ (a2 < 8)]) # [6 7]

print(4 , ~ (a2 > 5))             # ~ not을 의미
print(4 ,a2[~(a2 > 5)])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
1 [[False False False]
 [False False  True]
 [ True False False]]
1 [6 7]
2 [[ True  True  True]
 [ True  True  True]
 [ True  True  True]]
2 [1 2 3 4 5 6 7 8 9]
3 [[ True  True  True]
 [ True  True False]
 [False  True  True]]
3 [1 2 3 4 5 8 9]
4 [[ True  True  True]
 [ True  True False]
 [False False False]]
4 [1 2 3 4 5]

In [388]:
## 배열정렬

In [393]:
# np.sort()
a1 = np.random.randint(1, 10, 10)
print(a1)
print(np.sort(a1))    
print(a1)     
print(np.argsort(a1)) # 정렬에 필요한 인덱싱 출력
print(a1)             # 원본 유지
print(a1.sort())
print(a1)             # 원본 자체를 정렬

[1 2 3 5 7 9 1 6 1 6]
[1 1 1 2 3 5 6 6 7 9]
[1 2 3 5 7 9 1 6 1 6]
[0 6 8 1 2 3 7 9 4 5]
[1 2 3 5 7 9 1 6 1 6]
None
[1 1 1 2 3 5 6 6 7 9]

In [395]:
a2 = np.random.randint(1, 10, (3,3))
print(a2)
print(np.sort(a2, axis=0))
print(np.sort(a2, axis=1))

[[6 6 9]
 [7 2 3]
 [1 3 6]]
[[1 2 3]
 [6 3 6]
 [7 6 9]]
[[6 6 9]
 [2 3 7]
 [1 3 6]]

In [397]:
# np.partition() 배열에서 k 개의 작은 값을 반환
a1 = np.random.randint(1, 10, 10)
print(a1)
print(np.partition(a1, 3)) # 작은 값 세개를 앞에 위치시킴.

[4 6 3 1 3 6 1 8 4 7]
[1 1 3 3 4 4 6 8 6 7]

In [407]:
a2 = np.random.randint(1, 10, (5,5))
print(a2)
print(1 ,np.partition(a2, 3)) # 각 행의 작은 값 3개로 바꿔줌
print(2 ,np.partition(a2, 3, axis=0))
print(3 ,np.partition(a2, 3, axis=1))

[[3 4 2 3 7]
 [9 2 9 7 2]
 [1 7 9 1 4]
 [5 4 3 6 2]
 [9 7 2 6 4]]
1 [[3 2 3 4 7]
 [7 2 2 9 9]
 [1 1 4 7 9]
 [2 3 4 5 6]
 [2 4 6 7 9]]
2 [[1 4 2 1 2]
 [3 4 2 3 4]
 [5 2 3 6 2]
 [9 7 9 6 4]
 [9 7 9 7 7]]
3 [[3 2 3 4 7]
 [7 2 2 9 9]
 [1 1 4 7 9]
 [2 3 4 5 6]
 [2 4 6 7 9]]

In [408]:
## 배열 입출력 필요시 영상참조
#  https://www.youtube.com/watch?v=mirZPrWwvao&t=1992s