In [2]:
# # SQL데이터 가져오기
# con = m.connect(host='localhost', user='root', password='7751', db ='DB_FROM_PYTHON', charset='utf8')
# cur = con.cursor()
# q = "SELECT * FROM table_from_pythom"
# cur.execute(q)                        # 명령은 했으나 불러올 곳이 없음.
# res = cur.fetchall()                  # .fetchall을 사용해 명령 데이터를 받아옴
# for data in res:                      # 반복문을 통해 출력
#      print(data)
#  con.close()

NameError: name 'm' is not defined

In [3]:
import pymysql as m
# 1. 아나콘다 cmd 관리자 권한으로 실행
# 2. conda install pymysql
# 3. 주피터 노트북 실행 
# 4. SQL SHOW databases; 확인 가능

In [4]:
con = m.connect(host='localhost', user='root', password='7751', charset='utf8')
cur = con.cursor() # 커서...

In [8]:
# 1) 데이터 기간내 국가별 방문자수(19.1~20.4)

import pandas as pd
con = m.connect(host='localhost', user='root', password='7751', db ='visitor_of_korea', charset='utf8')
cur = con.cursor()
q = """SELECT 국가, SUM(방문자_수) '국가별 방문자 수'
 FROM project_csv
GROUP BY 1
ORDER BY 2 DESC"""
cur.execute(q)                        # 명령은 했으나 불러올 곳이 없음.
res = cur.fetchall()                  # .fetchall을 사용해 명령 데이터를 받아옴
df1 = pd.DataFrame(res)
con.close()
df1

                  0        1
0             China  6236504
1             Japan  3695581
2            Taiwan  1424629
3               USA  1170719
4         Hong Kong   783159
5          Thailand   644523
6           Vietnam   624921
7       Phillipines   560570
8          Malaysia   455722
9            Russia   400628
10        Indonesia   319442
11        Singapore   263056
12           Canada   231090
13  Overseas Korean   211216
14       Austrailia   194998
15            India   160252
16               UK   159830
17          Germany   135174
18         Mongolia   133611
19           France   123393
20       Uzbekistan   102088
21          Myanmar    86977
22      Asia others    84892
23       Kazakhstan    61077
24            Macao    58329
25    Africa others    54320
26            Italy    54245
27    Europe others    52069
28         Cambodia    50289
29   America others    47597
30      New Zealand    44792
31       Netherland    44743
32             *GCC    38103
33           Turkey    35553
34           Mexico    34580
35            Spain    33570
36          Ukraine    31986
37           Brazil    27120
38           Poland    27082
39           Sweden    21429
40        Sri Lanka    21427
41       Bangladesh    20824
42            Swiss    19313
43           Israel    18346
44         Pakistan    16313
45          Belgium    16029
46          Finland    15756
47     South Africa    15679
48          Denmark    14899
49          Romania    14363
50          Austria    14092
51           Norway    12886
52         Portugal    12531
53          Ireland    11519
54           Greece    11317
55         Bulgaria     7228
56          Croatia     6821
57   Oceania others     6168
58             Iran     4677
59        Stateless      727

In [9]:
col = ['국가', '방문자 수']
df1 = pd.DataFrame(res, columns =col)
df1

                 국가    방문자 수
0             China  6236504
1             Japan  3695581
2            Taiwan  1424629
3               USA  1170719
4         Hong Kong   783159
5          Thailand   644523
6           Vietnam   624921
7       Phillipines   560570
8          Malaysia   455722
9            Russia   400628
10        Indonesia   319442
11        Singapore   263056
12           Canada   231090
13  Overseas Korean   211216
14       Austrailia   194998
15            India   160252
16               UK   159830
17          Germany   135174
18         Mongolia   133611
19           France   123393
20       Uzbekistan   102088
21          Myanmar    86977
22      Asia others    84892
23       Kazakhstan    61077
24            Macao    58329
25    Africa others    54320
26            Italy    54245
27    Europe others    52069
28         Cambodia    50289
29   America others    47597
30      New Zealand    44792
31       Netherland    44743
32             *GCC    38103
33           Turkey    35553
34           Mexico    34580
35            Spain    33570
36          Ukraine    31986
37           Brazil    27120
38           Poland    27082
39           Sweden    21429
40        Sri Lanka    21427
41       Bangladesh    20824
42            Swiss    19313
43           Israel    18346
44         Pakistan    16313
45          Belgium    16029
46          Finland    15756
47     South Africa    15679
48          Denmark    14899
49          Romania    14363
50          Austria    14092
51           Norway    12886
52         Portugal    12531
53          Ireland    11519
54           Greece    11317
55         Bulgaria     7228
56          Croatia     6821
57   Oceania others     6168
58             Iran     4677
59        Stateless      727